[package]
name = "juniper_rocket"
version = "0.1.3"
authors = [
    "Magnus Hallin <mhallin@fastmail.com>",
    "Christoph Herzog <chris@theduke.at>",
]
description = "Juniper GraphQL integration with Rocket"
license = "BSD-2-Clause"
documentation = "https://docs.rs/juniper_rocket"
repository = "https://github.com/graphql-rust/juniper"

[dependencies]
serde = { version = "1.0.2" }
serde_json = { version = "1.0.2" }
serde_derive = { version = "1.0.2" }
juniper = { version = ">=0.9, 0.10.0" , default-features = false, path = "../juniper"}

rocket = { version = "0.3.9" }
rocket_codegen = { version = "0.3.9" }

[dev-dependencies.juniper]
version = "0.10.0"
features = ["expose-test-schema", "serde_json"]
path = "../juniper"
