[package]
name = "juniper_rocket"
version = "0.9.0"
edition = "2018"
description = "`juniper` GraphQL integration with `rocket`."
license = "BSD-2-Clause"
authors = [
    "Magnus Hallin <mhallin@fastmail.com>",
    "Christoph Herzog <chris@theduke.at>",
]
documentation = "https://docs.rs/juniper_rocket"
homepage = "https://github.com/graphql-rust/juniper/tree/master/juniper_rocket"
repository = "https://github.com/graphql-rust/juniper"
readme = "README.md"
categories = ["asynchronous", "web-programming", "web-programming::http-server"]
keywords = ["apollo", "graphql", "juniper", "rocket"]
exclude = ["/examples/", "/tests/", "/release.toml"]

[dependencies]
futures = "0.3.1"
juniper = { version = "0.16.0", path = "../juniper", default-features = false }
rocket = { version = "0.5.0-rc.1", default-features = false }
serde_json = "1.0.2"

[dev-dependencies]
juniper = { version = "0.16.0", path = "../juniper", features = ["expose-test-schema"] }
