[package]
name = "juniper_rocket"
version = "0.8.2"
edition = "2018"
authors = [
    "Magnus Hallin <mhallin@fastmail.com>",
    "Christoph Herzog <chris@theduke.at>",
]
description = "Juniper GraphQL integration with Rocket"
license = "BSD-2-Clause"
documentation = "https://docs.rs/juniper_rocket"
repository = "https://github.com/graphql-rust/juniper"

[dependencies]
futures = "0.3.1"
juniper = { version = "0.15.7", path = "../juniper", default-features = false }
rocket = { version = "=0.5.0-rc.2", default-features = false }
serde_json = "1.0.2"

[dev-dependencies]
juniper = { version = "0.15.7", path = "../juniper", features = ["expose-test-schema"] }
