[package]
name = "juniper_codegen"
version = "0.11.1"
authors = [
    "Magnus Hallin <mhallin@fastmail.com>",
    "Christoph Herzog <chris@theduke.at>",
]
description = "Internal custom derive trait for Juniper GraphQL"
license = "BSD-2-Clause"
documentation = "https://docs.rs/juniper"
repository = "https://github.com/graphql-rust/juniper"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "0.4"
syn = { version = "0.14", features = ["full", "extra-traits"] }
quote = "0.6"
regex = "1"
lazy_static = "1.0.0"

[badges]
travis-ci = { repository = "graphql-rust/juniper" }
