[package]
name = "juniper_hyper"
version = "0.9.0"
edition = "2018"
description = "`juniper` GraphQL integration with `hyper`."
license = "BSD-2-Clause"
authors = ["Damir Vandic <info@dvic.io>"]
documentation = "https://docs.rs/juniper_hyper"
homepage = "https://github.com/graphql-rust/juniper/tree/master/juniper_hyper"
repository = "https://github.com/graphql-rust/juniper"
readme = "README.md"
categories = ["asynchronous", "web-programming", "web-programming::http-server"]
keywords = ["apollo", "graphql", "hyper", "juniper"]
exclude = ["/examples/", "/release.toml"]

[dependencies]
futures = "0.3.1"
hyper = { version = "0.14", features = ["server", "runtime"] }
juniper = { version = "0.16.0", path = "../juniper", default-features = false }
serde_json = "1.0"
tokio = "1.0"
url = "2.0"

[dev-dependencies]
juniper = { version = "0.16.0", path = "../juniper", features = ["expose-test-schema"] }
pretty_env_logger = "0.4"
reqwest = { version = "0.11", features = ["blocking", "rustls-tls"] }
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
