[package]
name = "juniper_hyper"
version = "0.5.2"
authors = ["Damir Vandic <info@dvic.io>"]
description = "Juniper GraphQL integration with Hyper"
license = "BSD-2-Clause"
documentation = "https://docs.rs/juniper_hyper"
repository = "https://github.com/graphql-rust/juniper"
edition = "2018"

[dependencies]
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
url = "2"
juniper = { version = "0.14.2", default-features = false, path = "../juniper"}
tokio = "0.2"
hyper = "0.13"
futures = { version = "0.3.1" }

[dev-dependencies]
pretty_env_logger = "0.2"
reqwest = "0.9"

[dev-dependencies.juniper]
version = "0.14.2"
features = ["expose-test-schema", "serde_json"]
path = "../juniper"

[dev-dependencies.tokio]
version = "0.2"
features = ["macros"]