[package]
name = "juniper_hyper"
version = "0.6.3"
edition = "2018"
authors = ["Damir Vandic <info@dvic.io>"]
description = "Juniper GraphQL integration with Hyper"
license = "BSD-2-Clause"
documentation = "https://docs.rs/juniper_hyper"
repository = "https://github.com/graphql-rust/juniper"

[dependencies]
futures = "0.3.1"
juniper = { version = "0.15.3", path = "../juniper", default-features = false }
hyper = "0.13"
serde_json = "1.0"
tokio = "1.0.2"
url = "2"

[dev-dependencies]
juniper = { version = "0.15.3", path = "../juniper", features = ["expose-test-schema"] }
pretty_env_logger = "0.4"
reqwest = { version = "0.11", features = ["rustls-tls", "blocking"] }
tokio = { version = "1.0.2", features = ["macros"] }
