[package]
name = "juniper_actix"
version = "0.2.1"
edition = "2018"
authors = ["Jordao Rosario <jordao.rosario01@gmail.com>"]
description = "Juniper GraphQL integration with Actix"
license = "BSD-2-Clause"
documentation = "https://docs.rs/juniper_actix"
repository = "https://github.com/graphql-rust/juniper"

[features]
subscriptions = ["juniper_graphql_ws"]

[dependencies]
actix = "0.10"
actix-web = "3.3"
actix-web-actors = "3.0"

juniper = { version = "0.15.1", path = "../juniper", default-features = false }
juniper_graphql_ws = { version = "0.2.1", path = "../juniper_graphql_ws", optional = true }

anyhow = "1.0"
futures = "0.3.5"
serde = { version = "1.0.116", features = ["derive"] }
serde_json = "1.0.57"
thiserror = "1.0"
tokio = { version = "0.2", features = ["time"] }

[dev-dependencies]
actix-rt = "1.1"
actix-cors = "0.5"
actix-identity = "0.3"

juniper = { version = "0.15.1", path = "../juniper", features = ["expose-test-schema"] }

bytes = "1.0"
env_logger = "0.8"
log = "0.4"
