[package]
name = "juniper_actix"
version = "0.1.0"
authors = ["Jordao Rosario <jordao.rosario01@gmail.com>"]
description = "Juniper GraphQL integration with Actix"
license = "BSD-2-Clause"
documentation = "https://docs.rs/juniper_actix"
repository = "https://github.com/graphql-rust/juniper"
edition = "2018"

[features]
subscriptions = ["juniper_graphql_ws"]

[dependencies]
actix = "0.9.0"
actix-rt = "1.1.1"
actix-web = { version = "2.0.0", features = ["rustls"] }
actix-web-actors = "2.0.0"

futures = { version = "0.3.5", features = ["compat"] }
tokio = { version = "0.2", features = ["time"] }
serde = { version = "1.0.115", features = ["derive"] }
serde_json = "1.0.57"
anyhow = "1.0"
thiserror = "1.0"

juniper = { version = "0.14.2", path = "../juniper", default-features = false  }
juniper_graphql_ws = { path = "../juniper_graphql_ws", optional = true }

[dev-dependencies]
actix-cors = "0.2.0"
actix-identity = "0.2.1"

async-trait = "0.1.36"
bytes = "0.5.6"
env_logger = "0.7.1"
log = "0.4.11"
tokio = { version = "0.2", features = ["time"] }

juniper = { version = "0.14.2", path = "../juniper", features = ["expose-test-schema", "serde_json"] }
